.xml {
  list-style: none;
  background-color:#EEEEEE;
}

div.xml {
  padding: 10px 0px 10px 0px;
  margin:  0px 10px 0px 10px;
}

ul.xml {
  margin: 0;
  font-family: Courier New,Monaco;
  padding: 0px 0px 0px 40px;
}

ul.xml li {
  margin: 0;
}

ul.xml a {
  text-decoration: none;
  font-family: Courier New,Monaco;
}

span.xml-element {
  color: #0000FF;
}
span.xml-attribute {
  color: #F00;
}
